* {
  box-sizing: border-box;
  justify-content: center;
  justify-self: unset;
  justify-items: center;
}
span{
    color: gray;
    font-size: 25px;
}
img {
  width: 550px;
  height: 400px;
  margin: 25px;
  border: 2px solid;
  border-radius: 20px;
}
